.footer {
  padding-top: 100px;
  padding-bottom: 50px;
  &__wrapper {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    
    justify-content: flex-start;

    @include desktop-small {
      justify-content: space-evenly;
      padding: 20px;
    }
    @include tablet-small {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__title-block {
  }

  &__title {
    font-family: var(--ff);
    font-size: 31.558px;

    font-weight: 700;
    margin-bottom: 23px;
    line-height: 39.447px;
    background: linear-gradient(247deg, #f85e9f 35.26%, #5d50c6 81.16%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include desktop-small {
      padding-top: 30px;
    }
  }

  &__desc {
    color: var(--Neutral-600, #6f6c90);
    font-feature-settings: "clig" off, "liga" off;
    font-family: var(--ff);
    font-size: 15.779px;

    font-weight: 400;
    line-height: 29.585px;
    max-width: 306px;
  }

  &__img {
    display: flex;
    gap: 21px;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
    justify-content: flex-start;
    @include tablet-small {
      padding-bottom: 20px;
    }
  }

  &__a-img {
    svg.icon &:hover {
      fill: red;
    }
  }

  &__section{
    display: flex;
    gap: 100px;
    margin-left: 80px;
    @include desktop-small {
      display: grid;
      grid-template-columns: 1fr 1fr;

      gap: 0px;
    }
    @include mobile {
      column-gap: 0px;
      padding-right: 180px;
      gap: 0px;
    }
  }


  &__article {
    display: flex;
    align-items: center;
    gap: 96px;
    @include desktop-small {
      display: grid;
      grid-template-columns: 1fr 1fr;

      gap: 0px;
    }
    @include mobile {
      column-gap: 0px;
      padding-right: 180px;
      gap: 0px;
    }
  }

  &__item {
  }

  &__item-title {
    padding-bottom: 39px;
    color: var(--Neutral-800, #170f49);
    font-feature-settings: "clig" off, "liga" off;
    font-family: var(--ff);
    font-size: 19.723px;
    font-style: normal;
    font-weight: 600;
    line-height: 21.696px;
    @include desktop-small {
      padding-top: 30px;
    }
  }

  &__option {
    display: flex;
    gap: 17px;
    flex-direction: column;
    align-items: flex-start;
    @include mobile {
      align-items: flex-start;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    @include mobile {
      gap: 6px;
      align-items: flex-start;
    }
  }

  &__a {
    color: var(--Neutral-600, #6f6c90);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: var(--ff);
    font-size: 15.779px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.723px;
    @include tablet-small {
      font-size: 14px;
      max-width: 120px;
    }
    &:hover {
      text-shadow: 0px 0px 6px #24129f;

      transition: all 0.4s ease 0s;
    }
  }

  &__a-svg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    max-width: 194px;
    color: var(--Neutral-600, #6f6c90);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: var(--ff);
    font-size: 15.779px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.723px;
    @include tablet-small {
      font-size: 14px;
      max-width: 120px;
    }
  }
}
