.header {
  &__wrapper {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 31px;

    @include desktop-small {
      justify-content: center;
      gap: 100px;
    }

    @include tablet {
      align-items: flex-start;
      justify-content: left;
      padding: 20px;
    }

    @include mobile {
      gap: 0px;
    }
  }

  &__logo {
    font-family: var(--ff);
    font-size: 31.558px;
    font-style: normal;
    font-weight: 700;
    line-height: 39.447px;
    background: linear-gradient(247deg, #f85e9f 35.26%, #5d50c6 81.16%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__backdrop {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transform: translateX(120%);
    display: none;
    transition: var(--transition);
    opacity: 0;

    @include tablet {
      display: block;
    }

    &._active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__ul {
    display: flex;

    align-items: center;
    gap: 20px;
    z-index: 9;

    @include tablet {
      z-index: 9;
      position: fixed;
      width: 70%;
      height: 100%;
      flex-direction: column;
      left: 0;
      top: 0;
      background: var(--c-primary);
      align-items: center;
      justify-content: center;
      transform: translateX(-120%);
      transition: var(--transition);
    }

    &._active {
      transform: translateX(0);
    }

    .icon-close {
      position: absolute;
      top: 40px;
      right: 40px;
      color: var(--c-text-white);
    }
  }

  &__reg {
    display: flex;
    gap: 10px;
    align-items: center;

    @include tablet {
      display: none;
    }
  }

  &__reg-mobile {
    display: none;

    @include tablet {
      display: block;
      margin-top: 30px;
      display: flex;
      gap: 20px;
    }
  }

  &__log {
    color: var(--Light, #eee);
    font-family: Poppins;
    font-size: 13.806px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    border-radius: 98.617px;

    padding: 15.7px 31.5px;
    background: var(--Primary, #e52193);
    box-shadow: 0px 3px 7px 0px rgba(119, 47, 217, 0.1),
      0px 13px 13px 0px rgba(119, 47, 217, 0.09),
      0px 29px 17px 0px rgba(119, 47, 217, 0.05),
      0px 52px 21px 0px rgba(119, 47, 217, 0.01),
      0px 81px 23px 0px rgba(119, 47, 217, 0);

    &:hover {
      text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      transition: all 0.4s ease 0s;
      background-color: rgb(255, 111, 9);
    }
  }

  &__sign {
    color: var(--Light, #eee);
    font-family: Poppins;
    font-size: 13.806px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    border-radius: 98.617px;
    padding: 15.7px 31.5px;
    background: var(--Primary, #5d50c6);
    box-shadow: 0px 3px 7px 0px rgba(119, 47, 217, 0.1),
      0px 13px 13px 0px rgba(119, 47, 217, 0.09),
      0px 29px 17px 0px rgba(119, 47, 217, 0.05),
      0px 52px 21px 0px rgba(119, 47, 217, 0.01),
      0px 81px 23px 0px rgba(119, 47, 217, 0);

    &:hover {
      text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      transition: all 0.4s ease 0s;

      // 	border-radius: 98.617px;
      // 	transition: ;
      background: var(--Primary, rgb(1, 120, 110));
      // box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }

  &__a {
    color: var(--Black-75, rgba(25, 24, 37, 0.75));
    font-family: var(--ff);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    &:hover {
      color: #3357e4;
      font-style: unset;
    }

    @include tablet {
      color: var(--c-text-white);
    }
  }
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;

  @include tablet {
  }
}

.active {
  color: var(--Dark, #222831);
  font-family: var(--ff);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
}
