.about {
  padding-top: 100px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include desktop-small {
      align-items: flex-start;
    }

    @include mobile {
      align-items: flex-start;
    }

    @include tablet-small {
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }
    &::before {
      content: "";
      display: block;
      border-radius: 919.725px;
      background: var(--Yellow, #facd49);
      position: absolute;
      width: 554.229px;
      height: 506.355px;
      top: 140px;
      @include tablet {
        display: none;
      }
    }
  }

  &__design {
  }

  &__img-block {
    position: relative;

    @include tablet {
      display: none;
    }
  }

  &__img {
    margin-left: 125px;

    @include tablet {
      margin-left: 50px;
    }

    @include tablet-small {
      display: none;
      margin-left: 0;
    }
  }

  &__svg-smallest {
    position: absolute;
    top: 340px;
    left: 560px;
    @include desktop-small {
      left: 500px;
    }
    @include tablet-small {
      display: none;
    }
  }

  &__svg-orange {
    position: absolute;
    top: 490px;
    left: 620px;
    @include desktop-small {
      left: 526px;
    }

    @include tablet {
      left: 400px;
    }

    @include tablet-small {
      display: none;
    }
  }

  &__svg-ylw {
    position: absolute;
    top: 197px;
    left: 742px;

    @include desktop-small {
      display: none;
    }
  }

  &__svg-colorful-1 {
    position: absolute;
    top: 0;
    left: 573px;
    @include desktop-small {
      left: 480px;
    }

    @include tablet {
      left: 200px;
      z-index: 1;
    }

    @include mobile {
      z-index: -21;
    }
  }

  &__svg-colorful-2 {
    position: absolute;
    top: 500px;
    @include tablet {
      z-index: 1;
    }
    @include mobile {
      z-index: -1;
    }
  }

  //   PART 22222

  &__text {
    padding-bottom: 40px;
    @include desktop-small {
      padding: 0px;
    }
  }

  &__roof {
  }

  &__intro {
    color: var(--rose);
    font-family: var(--ff);
    font-size: 17.438px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.314px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__title {
    color: var(--Grey-Scale-Black, #191825);
    font-family: var(--ff);
    font-size: 42.626px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    max-width: 431px;

    @include mobile {
      font-size: 32px;
    }
  }

  &__desc {
    color: var(--Black-75, rgba(25, 24, 37, 0.75));
    font-family: var(--ff);
    font-size: 16px;

    font-weight: 400;
    line-height: 160%;
    max-width: 431px;
    margin-top: 23px;
    margin-bottom: 23px;

    @include mobile {
      max-width: 350px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 31px;
    @include mobile {
      column-gap: 0px;
    }
  }

  &__line {
    border-radius: 31.001px;
    border: 0.969px solid var(--Grey-Scale-Black-10, rgba(25, 24, 37, 0.1));
    background: var(--c-text-white);

    @include tablet {
    }

    @include mobile {
      width: 130px;
    }
  }

  &__section {
    margin-bottom: 31px;
    @include tablet-small {
    }
  }

  &__in-box {
    padding: 31px;
    @include tablet {
      padding: 21px;
    }
    @include tablet-small {
    }

    @include mobile {
    }
  }

  &__thick {
    text-align: center;
    color: var(--rose);
    font-family: var(--ff);
    font-size: 33.907px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 15px;
    @include tablet-small {
      font-size: 28px;
    }
  }

  &__value {
    text-align: center;
    color: #191825;
    font-family: var(--ff);
    font-size: 15.501px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}
