.city {
  padding-top: 100px;
  padding-bottom: 100px;
  &__wrapper {
    @include desktop-small {
      padding: 20px;
    }
  }

  &__title-block {
    display: flex;
    align-items: center;

    margin-bottom: 52px;
    justify-content: space-between;

    @include tablet {
      justify-content: center;
      align-items: flex-start;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__info {
  }

  &__dest {
    color: var(--rose);
    font-family: var(--ff);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.324px;
    text-transform: uppercase;
    @include mobile {
    }
  }

  &__explore {
    color: var(--Grey-Scale-Black, #191825);
    font-family: var(--ff);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    @include mobile {
      font-size: 28px;
      margin-top: 20px;
    }
  }

  &__ul {
    display: flex;
    gap: 38px;
    margin-right: 47px;
    @include mobile {
      margin-top: 20px;
      gap: 20px;
    }
  }

  &__li {
  }

  &__pointer {
    color: var(--Grey-Scale-Black-50, rgba(25, 24, 37, 0.5));
    font-family: var(--ff);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
}

// 2 PARTTTTTT

.world {
  &__cities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 62px;

    @include desktop-small {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @include tablet {
      column-gap: 20px;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__beauty {
    margin-bottom: 20px;
  }

  &__img {
    width: 388.933px;
    height: 276.142px;
    @include tablet {
      width: 375px;
    }

    @include mobile {
      width: 345px;
    }
  }

  &__title {
    margin-top: 20px;
    color: var(--textcolor, #0c111f);
    font-family: var(--ff);
    font-size: 23.336px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.225px;
  }

  &__desc {
    margin-top: 11px;
    color: rgba(12, 17, 31, 0.6);
    font-family: var(--ff);
    font-size: 15.557px;
    max-width: 338px;

    font-weight: 400;
    line-height: 180%;
    @include tablet-small {
      margin-bottom: 0px;
    }
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 11px;
  }

  &__info-box {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 37px;

    @include tablet {
      margin-bottom: 40px;
      gap: 50px;
    }

    @include tablet-small {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }

  &__flex {
  }

  &__position {
    color: rgba(12, 17, 31, 0.6);
    font-family: var(--ff);
    font-size: 15.557px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    letter-spacing: -0.156px;
    padding-bottom: 5px;
  }

  &__money {
    display: flex;
  }

  &__cost {
    color: var(--textcolor, #0c111f);
    font-family: var(--ff);
    font-size: 23.336px;

    font-weight: 700;
    line-height: 27.225px;
    padding-right: 5px;
  }

  &__interest {
    color: rgba(12, 17, 31, 0.28);
    font-family: var(--ff);
    font-size: 13.613px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.225px;
  }

  &__btn {
    color: var(--c-text-white);
    font-family: var(--ff);
    font-size: 13.613px;

    font-weight: 500;
    line-height: 180%;
    letter-spacing: -0.136px;
    border-radius: 43.755px;
    padding: 8px 20px;
    background: var(--Ungu, linear-gradient(135deg, #8482ff 0%, #7723fe 100%));
    &:hover {
      text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      transition: all 0.4s ease 0s;
    }
  }
}
