.experies {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @include desktop-small {
      padding: 20px;
      gap: 20px;
    }

    @include tablet-small {
    }
  }

  &__text {
    margin-top: 45px;
  }

  &__intro {
    color: var(--rose);
    font-family: var(--ff);
    font-size: 17.751px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.723px;
    letter-spacing: 0.32px;
  }

  &__title {
    margin-top: 23px;
    margin-bottom: 23px;
    max-width: 545px;
    color: #2d3134;
    font-family: var(--ff);
    font-size: 48px;

    font-weight: 600;
    line-height: 65.087px;
  }

  &__desc {
    color: var(--Black-75, rgba(25, 24, 37, 0.75));
    max-width: 460px;

    font-family: var(--ff);
    font-size: 16px;

    font-weight: 400;
    line-height: 25.64px;
    @include tablet {
      max-width: 350px;
    }
  }

  &__numbers {
    display: flex;
    gap: 60px;

    @include tablet-small {
      gap: 0px;
    }

    @include mobile {
      display: grid;
      margin-top: 40px;
      grid-template-columns: 1fr 1fr;
      column-gap: 0px;
      padding-right: 40px;
    }
  }

  &__item {
    margin-top: 22px;
  }

  &__score {
    color: var(--rose);
    font-family: var(--ff);
    font-size: 45.364px;
    font-style: normal;
    font-weight: 600;
    line-height: 45.364px;

    @include mobile {
      font-size: 35px;
    }
  }

  &__item-desc {
    margin-top: 24px;
    max-width: 100px;
    color: #0c111f;
    font-family: var(--ff);
    font-size: 15.779px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.599px;
  }

  &__main {
  }

  &__design {
    position: relative;
  }

  &__img {
    width: 100%;
    position: relative;
    margin-right: 120px;
    @include tablet-small {
      display: none;
    }

    &::after {
      top: 13.7%;
      left: -11.5%;

      z-index: -1;
      position: absolute;
      content: "";
      border-radius: 264.164px;
      background: #39a0ff;
      width: 538.45px;
      height: 528.329px;
      display: block;
      @include tablet {
        display: none;
      }
    }
  }

  &__earth {
    position: absolute;
    top: 20%;
    left: -25px;
    z-index: -1;
    @include tablet-small {
      display: none;
    }
  }

  &__adv {
    position: absolute;
    right: 0px;
    top: 94%;
    @include tablet-small {
      display: none;
    }
  }

  &__cust {
    top: 30%;
    right: -80px;
    position: absolute;
    @include desktop-small {
      right: -20px;
    }
    @include tablet-small {
      display: none;
    }
  }

  &__fun {
    position: absolute;
    top: 60%;
    left: -140px;
    @include tablet {
      display: none;
    }
  }
}
