.main {
  padding-top: 20px;
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    @include desktop-small {
      padding: 20px;
    }

    @include tablet {
      gap: 0px;
      align-items: flex-start;
      justify-content: flex-start;
    }

    @include tablet-small {
      gap: 20px;
    }

    @include mobile {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &__text {
    max-width: 500px;
    @include tablet-small {
      max-width: 300px;
    }
  }

  &__intro {
    border-radius: 98.617px;
    background: #5d50c6;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07),
      0px 33.53px 73.963px 0px rgba(0, 0, 0, 0.07),
      0px 135.106px 135.106px 0px rgba(0, 0, 0, 0.06),
      0px 303.741px 182.442px 0px rgba(0, 0, 0, 0.04),
      0px 540.422px 215.972px 0px rgba(0, 0, 0, 0.01),
      0px 844.164px 236.681px 0px rgba(0, 0, 0, 0);
    max-width: 230px;
  }

  &__inside {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 30px;
    color: var(--rose);
    font-family: var(--ff);
    font-size: 13.806px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 32px;
    @include tablet-small {
      margin-bottom: 32px;
    }
  }

  &__title {
    color: #000;
    font-family: var(--ff);
    font-size: 71.004px;
    
    font-weight: 600;
    line-height: 120%;
    @include tablet-small {
      font-size: 40px;
    }
  }

  &__span {
    color: var(--rose);
    font-family: var(--ff);
    font-size: 71.004px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    @include tablet-small {
      font-size: 40px;
    }
  }

  &__desc {
    max-width: 421px;
    color: var(--Black-75, rgba(25, 24, 37, 0.75));
    font-family: var(--ff);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.64px; 
  }

  &__btn {
    margin-top: 32px;
    display: flex;
    gap: 15px;
    align-items: center;

    @include tablet-small {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__btn-img {
    display: flex;
    gap: 8px;
    align-items: center;

    padding: 19px 31px;
    border-radius: 98.617px;
    border: 0.986px solid var(--Light, #eee);
    background: var(--c-text-whit);
  }

  &__btn-purple {
    padding: 15px 31px 15px 31px;
    border-radius: 98.617px;
    background: var(--Primary, #5d50c6);
    box-shadow: 0px 2px 5px 0px rgba(85, 44, 209, 0.1),
      0px 9px 9px 0px rgba(85, 44, 209, 0.09),
      0px 20px 12px 0px rgba(85, 44, 209, 0.05),
      0px 36px 14px 0px rgba(85, 44, 209, 0.01),
      0px 56px 16px 0px rgba(85, 44, 209, 0);
    color: var(--Light, #eee);
    font-family: Poppins;
    font-size: 13.806px;

    font-weight: 600;
    line-height: 120%;

    &:hover {
      text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      transition: all 0.4s ease 0s;
    }
  }

  &__img-block {
    position: relative;
    margin-left: 0px;
  }

  &__img {
    position: relative;
    margin-right: 84px;
    padding-top: 0;
    width: 100%;

    @include tablet {
      width: 90%;
      margin-right: 0px;
    }

    @include tablet-small {
      width: 70%;
    }

    @include mobile {
      display: none;
    }

    &::after {
      content: "";
      display: block;
      border-radius: 264.164px;
      background: #39a0ff;
      width: 538.45px;
      height: 528.329px;
      position: absolute;
      z-index: -2;
      left: 10px;
      top: 156px;

      @include desktop-small{
        width: 338.45px;
        height: 328.329px;
      }

      @include tablet {
        display: none;

        top: 103px;
      }

      @include tablet {
        display: none;
      }

      @include tablet-small {
        display: none;
      }
    }
  }

  &__layer {
    position: absolute;
    left: 580px;
    top: 200px;
    width: 900px;

    @include desktop-small {
      display: none;
    }
  }

  &__layer-mobile {
    display: none;
    @include desktop-small {
      display: block;
      position: absolute;
      left: 650px;
      top: 250px;
    }

    @include tablet {
      width: 32%;
      top: 250px;
      left: 20px;
      z-index: -1;
    }

    @include tablet-small {
      top: 200px;
      width: 30%;
    }

    @include mobile {
      width: 26%;
    }
  }

  &__line-1 {
    position: absolute;
    right: 110px;
    top: 166px;
  }
}
