.box {
}

.title {
  color: var(--rose);
  font-family: var(--ff);
  font-size: 17.751px;
 
  font-weight: 600;
  line-height: 120%; 
  letter-spacing: 0.32px;
  text-transform: uppercase;
}
.desc {
  color: var(--Grey-Scale-Black, #191825);
  font-family: var(--ff);
  margin-top: 15px;
  margin-bottom: 72px;
  font-size: 39.447px;

  font-weight: 600;
  line-height: 120%; 
}

.splide {
  @include desktop-small {
    display: none;
  }
  padding-top: 100px;
  position: relative;
  &__arrows {
    top: 150px;
    right: 88px;
    position: absolute;

    @include desktop-small {
      top: 70px;
      right: 318px;
    }

    @include tablet-small {
      right: 100px;
    }
  }

  &__arrows--ltr {
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__arrow--prev {
    border-radius: 50%;

    width: 47.336px;
    height: 47.336px;

    border-radius: 98.617px;
    background: #5d50c6;
    

    :hover {
      border-radius: 98.617px;
      background: var(--rose);
      padding: 15px 18px;
      transition: all 0.1s ease-in-out;
    }
  }

  &__arrow--next {
    background: #5d50c6;
    width: 47.336px;
    height: 47.336px;
    :hover {
      border-radius: 98.617px;
      background: var(--rose);
      padding: 15px 18px;
      transition: all 0.1s ease-in-out;
    }
  }



  &__pagination {
    display: none;
  }

  &__pagination--ltr {
  }
}


.img-mobile {
  display: none;
  :hover {
    display: block;
  }
}

.img2 {
  display: none;

  :hover {
    display: block;
  }
}

.splide {
  margin-right: 0px;

}

.item {
  &__img {
  }

  &__title {
    color: var(--textcolor);
    font-family: var(--ff);
    font-size: 23.134px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.99px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  &__desc {
    color: rgba(12, 17, 31, 0.6);
    font-family: var(--ff);
    font-size: 15.423px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; 

    @include desktop-small {
      max-width: 400px;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 100px;
  }

  &__price-box {
  }

  &__location-title {
    margin-bottom: 5px;
    margin-top: 20px;
    color: rgba(12, 17, 31, 0.6);
    font-family: var(--ff);
    font-size: 15.423px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%; 
    letter-spacing: -0.154px;
    margin-bottom: 12px;
  }

  &__flex {
    display: flex;
    gap: 6px;
  }

  &__location-desc {
    color: var(--textcolor);
    font-family: var(--ff);
    font-size: 23.134px;
   
    font-weight: 700;
    line-height: 26.99px; 
  }

  &__location-item {
    color: rgba(12, 17, 31, 0.28);
    font-family: var(--ff);
    font-size: 13.495px;
    
    font-weight: 500;
    line-height: 26.99px; 
  }

  &__btn {
    border-radius: 43.377px;
    background: var(--Ungu, linear-gradient(135deg, #8482ff 0%, #7723fe 100%));
    padding: 9px 20px 9px 20px;
    color: var(--Light-background, #fff);
    font-family: var(--ff);
    font-size: 13.495px;
    
    font-weight: 500;
    line-height: 180%; 
    letter-spacing: -0.135px;
  }
}
