.info {
    display: flex;
    align-items: center;
        gap: 83px;
        position: relative;
    padding-top: 155px;

    @include desktop-small{
        padding: 20px;
    }

    @include  tablet{
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        gap: 0;
    }

    &__article {
    }

    &__title {
        max-width: 557px;
        color: var(--textcolo);
font-family: var(--ff);
font-size: 40px;
margin-bottom: 24px;
font-weight: 700;
line-height: 130%;
letter-spacing: -0.4px;
margin-bottom: 32px;
@include mobile{
            max-width: 400px;
}
    }

    &__desc {
        color: var(--Black-75, rgba(25, 24, 37, 0.75));
        max-width: 467px;
        margin-bottom: 24px;

font-family: var(--ff);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.64px;

@include mobile{
    max-width: 300px;           
}
    }

    &__aside {
        margin-bottom: 48px;
        display: flex;
        align-items: center;
        gap: 33px;
        @include mobile{
            gap: 10px;    
        }
    }

    &__aside-title {
        color: var(--textcolor);
        font-family: var(--ff);
        font-size: 23.668px;
        font-style: normal;
        font-weight: 700;
        line-height: 27.613px; 
        text-transform: capitalize;
        margin-bottom: 17px;
    }

    &__aside-desc {
        max-width: 422px;
        color: var(--Black-75, rgba(25, 24, 37, 0.75));
        font-family: var(--ff);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.64px; 
        @include mobile{
            max-width: 250px;
        }
    }

    &__circle1{
        position: absolute;
        top: 346px;
        left: 464px;
        @include tablet{
            z-index: -1;
        }@include mobile{
            display: none;
        }
    }
    
    &__circle2{
        position: absolute;
        top: 480px;
        left: -50px;
        @include mobile{
            display: none;
        }
       
    }

    &__circle3{
        position: absolute;
        top: 580px;
        left: 530px;
        z-index: 1;
        @include tablet{
            z-index: -1;
        }

        @include mobile{
            display: none;
        }
    }

    &__img{
        width: 510px;
        height: 322px;

        @include mobile{
            width: 320px;
            height: 210px;
        }
    }
}





.tour {
    padding-top: 155px;
    
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 83px;
        position: relative;
        @include desktop-small{
            padding: 20px;
        }
        @include tablet{
           flex-direction: column;
           align-items: flex-start;
        }      

        

    }


		&__svg-ylw {
            position: absolute;
            bottom: 150px;
            left: 520px;

            @include mobile{
                z-index: -1;
                left: 250px
            }
		}

		&__svg-colorful-1 {
		position: absolute;
        bottom: 325px;
        left: 440px;
        @include tablet{
            top: 0;
            z-index: -1;
            left: 100px;
            
        }

        @include tablet-small


        }


		&__svg-colorful-2 {
		position: absolute;
        left: -35px;
        display: none;
        bottom: 134px;
        }



    &__text {
        
    }

    &__title {
        
@include mobile{
    max-width: 350px;
} 

    }

    &__desc {
        color: var(--Black-75, rgba(25, 24, 37, 0.75));
        max-width: 467px;
        margin-bottom: 24px;

font-family: var(--ff);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.64px;
@include mobile{
    max-width: 330px;
} 
        
}

    &__img {
        width: 510px;
        height: 322px;
        @include tablet-small {
         width: auto;   
        }
        @include mobile{
            width:60%;
        }
    }

    &__points {
        margin-top: 100px;
        @include tablet{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        @include tablet-small{
            margin-top: 0;
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 0px;
            
        }
        @include mobile{
            margin-top: 0px;
        }
    }

    &__achievment {
        display: flex;
        align-items: end;

        gap: 33px;
        margin-bottom: 82px;

        @include tablet-small{
            gap: 0;
        }
    }

    &__compliment {
        width: 100%;
        @include tablet-small
        {
            margin-right: 20px;
            width: auto;
        }
    }

    &__info {
        
    }

    &__info-title {
        color: var(--textcolor);
font-family: var(--ff);
font-size: 23.668px;
font-style: normal;
font-weight: 700;
line-height: 27.613px; 
text-transform: capitalize;
margin-bottom: 17px;
    }

    &__info-desc {
        color: var(--Black-75, rgba(25, 24, 37, 0.75));


font-family: var(--ff);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.64px; 
@include tablet-small {
 max-width: 300px;           
}

@include mobile{
    max-width: 260px;
}
        
    }
}